* {
	-webkit-user-select: none;
}

html {
	overflow: hidden;
}

#title {
	padding-bottom: 2px;
}
#title a, #title b {
	text-decoration: none;
	margin: 0 3px;
	font-size: 16px;
	line-height: 16px;
	color: #FFF;
}
#title b {
	color: #CCC;
}

#fbox {
	padding: 0;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}
#fbox.loading {
	background-image: url(../img/wait.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
#fbox.empty {
	background-image: url(../img/empty.png);
	background-position: center center;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
#files {
	overflow: hidden;
	min-height: 100%;
}
#files > div {
	width: 80px;
	margin: 1em 0 0 1em;
	padding: 5px;
	float: left;
	color: #666;
	transition: all 400ms;
}
#files > div:hover {
	background-color: #DDD;
}
#files > div.selected {
	background-color: #AAA;
	color: #FFF;
}
.fname {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 14px;
	height: 28px;
	padding: 0;
}
.ico {
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/type/file.png);
}
.ico.loading {
	background-size: unset;
	background-image: url(../img/wait.gif);
}
.ico .thumbs {
	width: 70px;
	height: auto;
	max-height: 70px;
	padding: 5px;
	vertical-align: center;
}
.ico.dir {
	background-image: url(../img/type/folder.png);
}

.mdl-layout__drawer {
	border-right: 0;
}

.mdl-navigation__link .material-icons {
    font-size: 24px;
    margin-right: 24px;
}

.mdl-navigation__link.active {
	background-color: #666;
}

#info-head {
	padding: 30px;
}

#user-action {
	margin: 10px 0;
	height: 32px;
	line-height: 32px;
	font-size: .8em;
	display: flex;
}
#user-action .mdl-menu__container {
	margin-right: 10px;
}
#avatar {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

#quota-box {
	margin: 10px 0;
	line-height: normal;
	font-size: .6em;
}
#quota-info {
	margin: 10px 0;
}

#cata-nav a {
	color: #CCC;
}
#cata-nav a:hover {
	color: #666;
}

#err-dlg .mdl-dialog__title {
	font-size: 1.5em;
}
#error {
	color: red;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	width: 8px;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
	width: 8px;
    border-radius: 4px;
    background: #CCC;
    box-shadow: inset #999 0 0 6px;
}